// COLORS

$bg-dark: #1b1b1b;
$highlight-default: #659A8D;
$highlight-disabled: #2E3D39;
$highlight-bright: #AEFFEB;
$highlight-selected: #52A391;
$positive: #CAFF60;
$negative: #FF9660;
$disabled: #545555;
$black: #000000;
$white: #FFFFFF;

// WEIGHTS

$outline-weight: 1px;

$frame-constant: 7vmin;

$transition-constant: 0.1s;
// FONTS
$font-default: 'Terminal Grotesque Open';
$font-highlight: 'Cormorant Garamond 500';
